/* 
* {
    font-family: PetFont;
    color: #999999;
} */


/* **** Paleta de colores **** */


/* paleta 1 */


/* :root {
    --color1: #975FCE;
    --color2: #a88ac7;
    --color3: #C4C4C4;
    --color4: #c4c4c480;
} */


/* paleta 2 */


/* :root {
    --color1: #639CD9;
    --color2: #639CD9;
    --color3: #c4c4c480;
    --color4: #C4C4C4;
    --card: #fff
} */


/* paleta 3 */


/* :root {
    --color1: #004A7C;
    --color2: #005691;
    --color3: #FAFAFA;
    --color4: #fff;
    --card: #fff
} */


/* paleta 4 */


/* :root {
    --color1: #FFCD38;
    --color2: #FFDD67;
    --color3: #FAFAFA;
    --color4: #F3F3F3;
    --card: #fff
} */


/* paleta 5 */

:root {
    --color1: #975FCE;
    --color2: #a88ac7;
    --color3: #C4C4C4;
    --color4: #c4c4c480;
    --inputcolor: #eee!important;
    --hoverVioleta: #975fce80;
}


/* latin */

@font-face {
    font-family: PetFont-light;
    src: url(../font/RobotoCondensed-Light.ttf   );
    /* font-style: normal;
    font-weight: normal; */
}

@font-face {
    font-family: PetFont-Regular;
    src: url(../font/RobotoCondensed-Regular.ttf   );
    /* font-style: normal;
    font-weight: normal; */
}

body {
    /* background-color: #E5DFF5; */
    background-color: var(--colorBody);
    margin: 0;
    font-family: PetFont-light;
}

* {
    /* font-family: PetFont-light; */
    color: #383635;
    /* font-weight: bold; */
}

body {
    background-color: #ffffff;
    background-color: var(--colorBody);
    margin: 0;
}

.loginContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    /* margin: 50px; */
    /* margin-top: 150px; */
    position: absolute;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

label {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.layer-1 {
    height: 100%;
    width: 100%;
    background: url(../img/p-capa-1.png)no-repeat 70% 50%;
    position: absolute;
    animation: move-layer-1 3s ease-in-out 1;
    z-index: 3;
}

.layer-2 {
    height: 100%;
    width: 100%;
    background: url(../img/p-capa-2.png)no-repeat 70% 50%;
    position: absolute;
    animation: move-layer-2 2.5s ease-in-out 1;
    z-index: 4;
}

.layer-3 {
    height: 100%;
    width: 100%;
    background: url(../img/p-capa-3.png)no-repeat 70% 50%;
    position: absolute;
    animation: move-layer-3 3.5s ease-in-out 1;
    z-index: 5;
}

@keyframes move-layer-1 {
    0% {
        transform: translateY(900px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-layer-2 {
    0% {
        transform: translateY(-1100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-layer-3 {
    0% {
        transform: translateX(900px);
    }
    100% {
        transform: translateX(0);
    }
}

label {
    font-size: 20px;
}

.recuperoPass {
    margin-bottom: 1px;
    font-size: small;
}

.botonesLogin {
    flex-direction: column;
    position: absolute;
    z-index: 15;
}

.pass-login,
.usuario-login {
    margin-left: 100px;
    width: 20%;
    position: absolute;
    z-index: 15;
}

button {
    border: none;
}

#logo {
    background-image: url(../img/texto_logo.png);
    width: 419px;
    height: 199px;
}

#nombreRed {
    text-transform: uppercase;
    font-size: 80px;
    font-family: sans-serif;
    margin: 50px;
    font-weight: bold;
}

#logo img {
    width: 10%;
    height: 20%;
    position: fixed;
    margin-block: 10px;
    margin-inline: 250px;
}

h3 {
    font-size: medium;
}

input,
.input-login {
    margin-top: 1px;
    margin-bottom: 3px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: none;
    background-color: var(--color3);
}

.input-login,
.label-login,
.form,
.recuperoPass,
.error,
.botonesLogin {
    position: sticky;
    z-index: 15;
}

.btn-registro,
.btn-login {
    font-size: 15px;
    width: 45%;
    height: 40px;
    border-radius: 10px;
}

.btn-login{
    color: white;
}

.form {
    margin-left: 20%;
    /* z-index: 15; */
    /* z-index: 14; */
    /* position: absolute; */
    /* position: sticky; */
    width: 20%;
}

input:focus {
    outline: none;
}

.btn-registro,
.btn-siguiente,
.btn-siguiente,
.btn-registrarme {
    background-color: #8BDE76;
    border-radius: 10px;
}

.btn-registro:hover,
.btn-siguiente:hover,
.btn-registrarme:hover {
    background-color: #a9d89c;
}

.btn-login {
    background-color: var(--color1);
    /*#3085E8;*/
}

.btn-login:hover {
    background-color: var(--color2);
    /*#5c98dd;*/
}

.botonesLogin {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button a {
    text-decoration: none;
    color: #383635;
}

.siguiente-1,
.siguiente-2,
.registrarme {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.btn-siguiente,
.btn-siguiente,
.btn-registrarme {
    height: 40px;
    width: 165px;
    font-size: 15px;
}

.formulario {
    width: 100%;
    /* display: flex;*/
    /* flex-direction: column; */
    /* align-items: center; */
}

.formulario p,
.error {
    font-size: 12px;
    color: red;
}

.reg-pag-1,
.reg-pag-2,
.reg-pag-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
}

.navbar {
    /* background: linear-gradient(var(--color2), var(--color1)); */
    /* background: linear-gradient(var(--color1), var(--color2)); */
    background: linear-gradient( var(--color1), var(--color2));
    /* border: 2px solid black; */
    /*BOX-SHADOW*/
    height: 70px;
    /* position: sticky; */
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
}

.navBotones {
    display: flex;
    align-items: center;
    width: 20%;
}

.navBotones button {
    background-color: transparent;
    justify-content: space-between;
    width: 20%;
    /* margin-left: 30px; */
}

.logoHeader,
.busqueda {
    display: flex;
    align-items: center;
}

.busqueda {
    /* grid-column: 2 / 2;
    grid-row: 1; */
    border-radius: 30px;
    background-color: #eee!important;
    height: 35px;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.busqueda input {
    font-weight: 500!important;
    padding-left: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-right: 1rem!important;
    padding-top: 0.5rem!important;
    border: 0!important;
    font-size: 14px!important;
    width: 250px!important;
    background-color: #eee!important;
    height: 30px;
    /* line-height: 32px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
    background-color: var(--color3); */
}

.btnNotificacion img:hover,
.btnHome img:hover,
.btnPerfil img:hover {
    zoom: 120%;
}

.perfil-nav {
    width: 35px;
    height: 35px;
}

.bloque1 .perfil-nav {
    width: 100%;
    height: 100%;
}

.perfil-nav,
.perfil-nav-selected {
    /* width: 35px;
    height: 35px; */
    border-radius: 30px;
}

.perfil-nav-selected {
    width: 37px;
    height: 37px;
    border: solid #FFF 2px;
}

.btnHome i {
    font-size: 1.5em;
    color: #383635;
    /* text-shadow: 1px 1px 1px; */
}


/* .busqueda img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
} */

#reg-flujo-1 {
    margin-top: 110px;
}

.form {
    width: 30%;
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    margin-left: 50px;
}

.form input {
    background-color: eeeeee;
    border-radius: 10px;
}

#baja {
    font-style: italic;
    text-decoration: underline;
    color: blue;
}

.containerConfirmacion {
    display: flex;
    flex-direction: column;
    margin: 200px 20px 20px 20px;
    /* width:50%; */
    align-items: center;
}

.infoConfirmacion {
    width: 40%;
    justify-content: center;
    border: 3px solid var(--color2);
    padding: 10px;
    background-color: var(--color4);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.infoConfirmacion h3 {
    padding-top: 15px;
    font-style: italic;
}

.reg-flujo-2,
.reg-flujo-3,
.reg-pag-2,
.reg-pag-3,
.siguiente-2,
.registrarme {
    display: show;
}

.ciudad-codPostal {
    display: flex;
    justify-content: space-between;
}

.ciudad {
    width: 190px;
    margin-right: 10px;
}

.codPostal {
    width: 190px;
    margin-left: 10px;
}

.file {
    padding: 10px;
}

.agregar-mascota {
    display: flex;
    align-items: center;
}

.agregar-mascota img {
    margin-left: 5px;
}


/************************************* MURO NOTICIAS ****************************************/


/* 
.navbar {
    /* background-color: #975FCE; */


/* background: linear-gradient( #a88ac7, #975FCE); */


/* background: linear-gradient(#975FCE, #a88ac7); */


/* border: 2px solid black; */


/*BOX-SHADOW*/


/* height: 90px;
    position: sticky;
    display: flex;
    padding: 15px;
    justify-content: space-between;
} */


/* 
.navBotones {
    display: flex;
    align-items: flex-end;
}

.navBotones button {
    background-color: transparent;
    justify-content: space-between;
    margin-left: 30px;
}

.logoHeader,
.busqueda {
    display: flex;
    align-items: center;
}

.busqueda input {
    width: 400px;
    height: 40px;
    border: none;
    padding-left: 10px;
    background-color: #C4C4C4;
    border-radius: 20px;
}

.busqueda img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
} */

.comunidad img {
    margin-top: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}

.perfilPersonalChat {
    width: 27%;
    height: 633px;
    background-color: var(--card);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.perfilPersonal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    /* background-color: rgb(196, 196, 196, 0.5); */
}

.bloque1Perfil {
    width: 29%;
    height: 70%;
    /* overflow-y:auto; */
}


/* .bloque1Perfil::-webkit-scrollbar {
    width: 2px;
    height: 124px;
    margin-right: 5px;
}

.bloque1Perfil::-webkit-scrollbar-thumb {
    background: var(--color1);
    background: repeating-linear-gradient( var(--color1), var(--color2));
    border-radius: 15px;
} */

.perfilPersonalPropia {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.comunidad {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.perfil {
    height: 66.5%;
    padding-bottom: 10px;
}

.contactosCercanos::-webkit-scrollbar {
    /* width: 90%; */
    height: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

.contactosCercanos::-webkit-scrollbar-thumb {
    background: var(--color1);
    background: repeating-linear-gradient( var(--color1), var(--color2));
    border-radius: 15px;
}

.contactosCercanos {
    width:90%;
    height: 400px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* width:100%; */
}

.contactosCercanos div {
    display: flex;
    /* flex-direction: column; */
    margin-left: 10px;
}


/* .contactosCercanos .fichaContacto{
    display:flex;
    flex-direction: row;
} */

*.fichas {
    /* display: flex; */
    height: 280px;
    flex-direction: row;
    margin: auto;
    padding-left: 10px;
}

.contactos,
.contactosCercanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    border-radius: 10px;
}

.contactos img,
.contactosCercanos img {
    margin: 15px;
}

.perfil,
.contactos,
.contactosCercanos,
.chatsPersonales,
.sugerenciasContactos {
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.contactosheader,.contactosHeader1,
.chatsPersonales,
.sugerenciasContactos,
.tituloPublicaciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
}

.contactosHeader img, .contactosHeader1 img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.fichaContacto_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.fichaContacto_2 div {
    border-radius: 50%;
    background: linear-gradient( var(--color1), var(--color2));
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.fichaContacto_2 img {
    margin: 0;
    width: 20px;
    height: 20px;
}

.fichaContacto_2 h3 {
    margin: 0;
    font-size: 14px;
}

.titulo,
h2 {
    font-family: PetFont-Regular;
    font-size: large !important;
}

.fichaContacto {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* background-color: #E5E5E5; */
    background-color: #eeeeee;
    
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 0%;
}

.contactosheader{
    margin-top:20px;
}


.contactosheader1{
    margin-top:8px;
}
.ficha {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: #E5E5E5; */
    background-color: #eeeeee;
    margin-top: 5px;
    border-radius: 10px;
}

.sugerenciaContactoIndividual {
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
    padding: 5px;
    width: 95%;
    height: 70px;
    margin-bottom: 10px;
}

.chat {
    /* background-color:  rgb(196, 196, 196, 0.5);; */
    width: 45%;
    height: 613px;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--card);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.infoPerfil {
    display: flex;
    flex-direction: row!important;
    align-items: center !important;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}


/* .perfilPersonal div{
    display: flex;
    flex-direction: row;
} */

.infoPerfil img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

textarea {
    width: 70%;
    height: 100%;
    border: none;
    overflow-y: scroll;
    resize: none;
    padding: 10px;
}

::placeholder {
    font-family: PetFont-Regular;
}

textarea::-webkit-scrollbar {
    width: 10px;
    margin-right: 20px;
}

textarea::-webkit-scrollbar-thumb {
    background: #975FCE;
    background: repeating-linear-gradient( #975FCE, #a88ac7);
}

textarea:focus {
    outline: none;
}

.cuerpo-chat {
    /* height: 530px; */
    max-height: 468px;
    overflow-y: scroll;
    padding-right: 10px;
    border-radius: 15px;
}

.cuerpo-chat::-webkit-scrollbar {
    width: 4px;
    margin-right: 20px;
}

.cuerpo-chat::-webkit-scrollbar-thumb {
    background: #975FCE;
}

.msj-contacto {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.msj-propio {
    display: flex;
    justify-content: flex-end;
}

.msj-propio p {
    background-color: rgb(196, 196, 196, 0.5);
}

.msj-contacto p {
    background-color: rgb(248, 248, 242);
}

.msj-propio p,
.msj-contacto p {
    height: auto;
    width: auto;
    display: table;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: PetFont-light;
    /* border-radius: 10px; */
}

.fichaContacto button {
    margin-top: 20px;
}

.fichaContacto img {
    width: 100%;
    height: 137px;
    margin-top: 0px;
    padding-top: 0%;
    border-radius: 10px;
}

.fichaContactoBusqueda img {
    margin-right: 20px;
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.fichaContacto div {
    flex-direction: columm;
    justify-content: center;
}

.fichaContacto h3 {
    font-family: PetFont-Regular;
}

.fichaContacto h3,
.fichaContacto h5 {
    height: 48%;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.fichaContacto h5 {
    font-family: PetFont-light;
}

.sugerenciasContactos,
.chatsPersonales {
    flex-direction: column;
    margin-top: 10px;
}

.chatsPersonales {
    display: flex;
}

.chatsPersonales a {
    text-decoration: none;
    color: #383635;
}

.ficha img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sugerenciaContactoIndividual img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.botonSugerencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.eliminar {
    background-color: rgb(196, 196, 196);
}

.eliminar,
.agregar {
    margin: 5px;
    font-family: PetFont-Regular;
    width: 85px;
    height: 35px;
    border-radius: 30px;
}

.agendarTurno {
    margin: 10px;
    font-family: PetFont-Regular;
    width: 85px;
    height: 35px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    background: linear-gradient( var(--color1), var(--color2));
    color: #fafafa;
}

.agendarTurno:hover {
    background: var(--hoverVioleta);
    color: black;
}

.muroCentral {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicacionPropia,
.publicacion {
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.info,
.infoChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.infoChat {
    background-color: #eeeeee;
    border-radius: 10px;
}

.infoChat img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.infoChat h3,
.infoChat h5 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.infoChat h3 {
    font-family: PetFont-Regular;
}

.info img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    /* display: flex;
    flex-direction: row; */
}

#compartido {
    font-size: 16px;
    font-style: oblique;
    padding-right: 5px;
    font-family: PetFont-light;
}

.botonesPublicacion {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 10px; */
}

.botonesPublicacion p {
    font-size: 12;
    margin-bottom: 0;
    margin-top: 0;
}

.botonesPublicacion div {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* 
.botonesPublicacion {
    display: flex;
    width: 90%;
    justify-content:flex-end;
    margin-bottom: 20px;
}

.botonesPublicacion button {
    width: 20px;
    height: 20px;
    margin-right: 70px;
  
}

.botonesPublicacion img {
    width: 30px;
    height: 30px;
}
 */


/* .publicacionPropia input {
    width: 500px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
} */

.publicacionPropia .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publicacion {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 0px;
}

.imagenPublicada {
    width: 97%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

.imagenPublicada img {
    width: 97%;
    border-radius: 10px;
}

.publicidad {
    width: 100%;
    height: 300px;
    margin-top:10px;
    margin-bottom: 10px;
}

.publicidad img {
    width: 100%;
    height: 100%;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.animacion_perro_registro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.perro {
    margin-top: 20px;
    background: url(../img/perrito_animado_2.png) repeat-x;
    position: relative;
    animation: movedog .9s steps(4) infinite;
    width: 76.5px;
    height: 66px;
    z-index: 7;
}

.reg-1,
.reg-2,
.reg-3 {
    width: 76.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-3-active {
    display: flex;
    flex-direction: row;
    width: 140px;
}

.linea-1 {
    height: 4px;
    width: 100%;
    margin-top: 50px;
    background-image: url(../img/linea1.png);
}

@keyframes movedog {
    0% {
        background-position: 0
    }
    100% {
        background-position: -307px
    }
}

.hueso {
    background: url(../img/hueso.png) repeat-x;
    position: relative;
    animation: movebone 1s steps(6) infinite;
    width: 37px;
    height: 29px;
    z-index: 7;
    margin-top: 35px;
}

@keyframes movebone {
    0% {
        background-position: 0
    }
    100% {
        background-position: 224px
    }
}

.botonesComunicacion {
    display: flex;
    align-items: flex-end;
    width: 75%;
    justify-content: space-evenly;
}

.botonesComunicacion button,
.reacciones button,
.botonesPublicacion button {
    background-color: transparent;
}

.reacciones,
.contador {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.reacciones {
    margin-bottom: 5px;
    font-size: medium;
   
}

.reacciones button {
    text-transform: capitalize;
    margin-right: 20px;
    font-size: medium;
    font-family: PetFont-light;
    display: flex;
    align-items: center;
   
}

.reacciones img {
    margin-right: 10px;
}

.perfilPersonal h2 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 10px;
    font-family: PetFont-Regular;
}

.perfilPersonal div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.perfil img {
    width: 30px;
    height: 30px;
    align-items: center;
}

.fotoPerfil {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.perfilPersonalPropia h2 {
    display: flex;
    justify-content: center;
    font-family: PetFont-Regular;
    padding-left: 20px;
}

.perfilPersonalPropia h3 {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    font-family: PetFont-light;
    padding-left: 0px;
}

.info h3 {
    width: 75%;
}

.info h4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.info h5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info h5 {
    display: flex;
    align-items: flex-end;
}

.horaPublicacion {
    display: flex;
    align-items: flex-end;
    width: 50%;
    font-size: 12px !important;
}

.fichacontacto h4 {
    flex-direction: column;
}

.navBotonesResponsive {
    display: none;
}


/************************************* PRUEBA ****************************************/

.huella {
    margin-left: 500px;
    background: url(../img/huellas.png) repeat-x;
    height: 267px;
    /* width: 72px; */
    position: relative;
    animation: movehuella 5s infinite;
}

@keyframes movehuella {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        width: 0;
    }
    11.11% {
        width: 38.88px;
    }
    22.22% {
        width: 77.76px;
    }
    33.33% {
        width: 122.46px;
    }
    44.44% {
        width: 167.16px;
    }
    55.55% {
        width: 221.66px;
    }
    66.66% {
        width: 283.16px;
    }
    77.77% {
        width: 351.66px;
    }
    88.88% {
        width: 436.96px;
    }
    100% {
        width: 505px;
    }
}


/* 
.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.galeria li {
    margin: 5px;
}

.galeria h3,
.galeria h5 {
    margin: 5px;
}

.galeria img,
.galeria video {
    width: 150px;
    height: 100px;
}

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen,
.video {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a,
.video a {
    color: #383635;
    /*#fff;*/


/*   font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2),
.video a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img,
.video img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #383635;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
} */

.publicacionesRealizadas {
    display: flex;
    flex-direction: row;
    /* width: 100%;
    height:auto;  
    */
}

.muroCentralPerfil {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal {
    display: flex;
    flex-direction: column;
}

.galeriaPublicadas {
    margin-bottom: 10px;
    background-color: var(#eeeeee);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.album {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /* background-color: #E5E5E5; */
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 0%;
    background-color: rgb(196, 196, 196, 50);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.album img {
    width: 160px;
    height: 160px;
}

.album #editar {
    width: 20px;
    height: 20px;
    margin-left: 130px;
    padding-top: 0%;
}

.album h3 {
    font-family: PetFont-Regular;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.galeria img {
    width: 107px;
    height: 107px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.infoextra {
    /* margin-left: 20px; */
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infoextra h5 {
    font-family: PetFont-light;
    font-size: small;
    color: blue;
}

.infoextra a {
    text-decoration: none;
}

.dia {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dia p {
    font-family: PetFont-Regular;
    text-align: center;
    width: 40px;
    padding: 5px;
    background-color: rgb(196, 196, 196, 0.3);
}

.f-chat {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.header-chat h2 {
    width: 65%;
    /* font-size: 25px; */
    margin-left: 10px;
}

.header-chat,
.footer-chat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--card);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
}

.header-chat {
    background-color: rgb(196, 196, 196, 50);
    ;
    width: auto;
    height: 70px;
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}

.header-chat div {
    display: flex;
}

.footer-chat {
    width: auto;
    height: 55px;
    background-color: rgb(196, 196, 196, 50);
    position: sticky;
    bottom: 0px;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
}

.footer-chat img,
.footer-chat textarea {
    margin-left: 10px;
    margin-right: 10px;
}

#txt-area {
    height: 90%;
}

.i-chat {
    margin: 10px;
}

.hora {
    font-size: 12px;
}


/* ------------------------------------------------------------------------------------------- */

.contador {
    height: 20px;
    margin-bottom: 2px;
    display: flex;
    margin-top: 3px;
}

#contadorLikes,
#contadorLikes1,
#contadorLikes2,
#contadorComentarios,
#contadorComentarios1,
#contadorComentarios2,
#contadorCompartidos,
#contadorCompartidos1,
#contadorCompartidos2 {
    margin: 2px;
    font-size: smaller!important;
    font-family: PetFont-light;
}

.reacciones a{
    text-decoration: none;
}
#comentariosTerceros {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10px;
    background-color: #eeeeee;
}

.info a {
    text-decoration: none;
    color: #383635;
}

.info input {
    width: 100%;
    border-radius: 20px;
    margin-left: 30px;
    background-color: #eeeeee;
}

.info a:hover {
    /* font-size: 120%; */
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.galeriaPublicaciones {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(196, 196, 196, 0.5);
    margin-bottom: 10px;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.tituloPublicaciones {
    margin-bottom: 50px;
}

.galeriaPropia {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 120px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
}

.galeriaPropia img {
    width: 107px;
    height: 107px;
}

.comentarios {
    display: show;
}

.mostrar {
    display: show;
}

.inputComentarios,
.inputComentarios2 {
    display: none;
}


/********************************BUSCADOR************************/


/* .mensajeBuscador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
} */

.mensajeBuscadorShow {
    align-items: center;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.muroCentralBusqueda {
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.bloque1Buscador {
    width: 20%;
    height: 70%;
    /* overflow-y:auto; */
}

.busquedaAvanzada {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
    padding-left: 20px;
}

.busqAv-selected {
    margin: 10px;
    font-family: PetFont-Regular;
    width: 70%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    /* margin-right: 5px; */
    background: linear-gradient( var(--color2), var(--color3));
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bolder;
}

.busqAv {
    margin: 10px;
    font-family: PetFont-Regular;
    width: 70%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    /* margin-right: 5px; */
    background: linear-gradient( var(--color1), var(--color2));
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bolder;
}

.fichaContactoBusqueda button {
    display: flex;
    flex-direction: row;
    background: linear-gradient( var(--color1), var(--color2));
    color: #fafafa;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.fichaContactoBusqueda div {
    display: flex;
    align-items: center;
}

.fichaContactoBusqueda {
    display: flex;
    width: 90%;
    /* padding-right: 5px;
    padding-left: 5px; */
    margin-bottom: 10px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #E5E5E5; */
    background-color: #eeeeee;
    margin-top: 5px;
    border-radius: 10px;
}

.fichaContactoBusqueda img {
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
}


/* -------------------------- PRUEBA---------------------------------------- */

.icono-loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.icono-loading {
    background: url(../img/icono-loading-1.png) no-repeat;
    background-position-y: center;
    height: 210px;
    width: 97px;
    /* width: 72px; */
    position: absolute;
    animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
    20% {
        transform: translateY(-45px);
    }
    40% {
        transform: translateY(0px);
        background: url(../img/icono-loading-2.png) no-repeat;
    }
    60% {
        transform: translateY(-25px);
    }
}

nav {
    display: none;
}


/**********************************MOBILE ************************************************/

@media (max-width: 700px) {
    body {
        margin: 0px;
    }
    .perfilPersonal,
    .comunidad {
        display: none;
    }
    .contenedor {
        width: 100%;
    }
    .muroCentral {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .navbar {
        background: linear-gradient( #a88ac7, #975FCE);
        width: 95%;
        height: auto;
        margin: auto;
        padding: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        justify-items: baseline;
        align-items: center;
    }
    .logoheader img {
        width: 100px;
        height: 50px;
    }
    .logoHeader {
        margin-right: 100px;
        display: flex;
    }
    .busqueda {
        display: none;
    }
    .navbar nav {
        align-items: flex-end;
        margin-left: 50px;
    }
    .navbar input {
        display: none;
    }
    .navbar img {
        display: flex;
        align-items: flex-end;
    }
    .navBotones {
        display: none;
    }
    ul {
        display: none;
    }
    input:checked~ul {
        display: block;
    }
    .navbar input,
    nav input {
        display: none;
    }
    .perfil-nav {
        width: 35px;
        height: 35px;
    }
    .bloque1 .perfil-nav {
        width: 100%;
        height: 100%;
    }
    .perfil-nav,
    .perfil-nav-selected {
        width: 35px;
        height: 35px;
        border-radius: 30px;
    }
    .perfil-nav-selected {
        width: 37px;
        height: 37px;
        border: solid #FFF 2px;
    }
    .btnHome i {
        font-size: 1.5em;
        color: #383635;
        /* text-shadow: 1px 1px 1px; */
    }
    label {
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
        user-select: auto;
    }
    label:hover {
        background-color: #975FCE;
    }
    input:checked~label {
        background: rgb(196, 196, 196, 0.5);
    }
    ul {
        margin-top: 0;
        padding: 0;
        width: 30px;
        text-align: center;
        align-items: center;
    }
    li {
        display: block;
        background: rgb(196, 196, 196, 0.5);
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        list-style: none;
        border-bottom: 1px solid grey;
    }
    nav img {
        width: 10px;
        height: 10px;
        align-items: center;
    }
    nav {
        display: block;
    }
    .reacciones img {
        width: 10px;
        height: 10px;
    }
    .contador h5 {
        font-size: 10px;
        font-family: PetFont-light;
    }
    /* #layer-1, #layer-2, #layer-3{
        display: none;
    }

    .icono-loading-container{
        width: 100%;
    }
    .loginContainer{
        display: flex;
        align-items: center;
    }
    #form .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    } */
    .navBotonesResponsive {
        background-color: #a88ac7;
        position: fixed;
        bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .navBotonesResponsive button {
        background-color: transparent;
        justify-content: center;
        margin: auto;
    }
    .navBotonesResponsive img {
        width: 35px;
        height: 35px;
    }
}

.info .arrow {
    width: 10px;
    height: 10px;
    margin-left: 20px;
}

hr {
    width: 90%;
    border: 1px solid rgb(160, 157, 157);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 25px;
}


/* 
h2{
    font-size: large;
    
} */

h3,
h4,
h5 {
    font-size: medium !important;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(243, 239, 239, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 0.9;
    pointer-events: auto;
}

.modalDialog>div {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    margin: 20% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #999;
    /* background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: var (--color1);
}

.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 40;
    right: 0;
    bottom: 0;
    left: 700;
    /* background: var(--color3); */
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog2:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog2>div {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    /* background: #606061; */
    background: #fafafa;
    /* background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.close2 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close2:hover {
    background: var (--color1);
}

.btnModal {
    width: 95%;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    background-color: var(--color1);
    color: white;
    font-family: PetFont-Regular;
}

.btnModal:hover{
    color: var(--color1);
}
.modalDialog3 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(243, 239, 239, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog3:target {
    opacity: 0.9;
    pointer-events: auto;
}

.modalDialog3>div {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    margin: 20% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #383635;
    /* background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close3 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close3:hover {
    background: var (--color1);
}

.info .publicitarPublicación{
    margin-left: 40px;
    width:20px;
    height: 20px;
}

.publicidadPaga{
    margin:20px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left:50px;
}

.publicidadPaga .publicacion{
    margin:50px;
}

.publicacionPaga{
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 396;
    width: 550px;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    border-radius: 15px!important;
}

.imagenPublicadaPublicidad img{
    width:530px;
    padding: 10px;
    border-radius: 10px;
}

.credito, #codigoseg{
    width:100px;
    height: 70px;
    margin-top:20px;
}

.comprar{
    margin: 10px;
    font-family: PetFont-Regular;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    background: linear-gradient( var(--color1), var(--color2));
    color: #fafafa;
}

#cod{
    width:36%;
}

#dni{
    width: 50%;
}
.inputEspeciales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.contenedorPago{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
}
.form2{
    width: 50%;
    height: 350px;
    /* margin-top: 100px; */
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card);
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, .05)!important; */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.178)!important;
    margin-left: 100px;
}

.form2 input {
    background-color: eeeeee;
    border-radius: 10px;
}

.form2 label{
    font-family: PetFont-light;
    font-size: medium !important;
    width: 50%;
    margin-top: 10px;
}

.pagar{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #8BDE76;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

.form2 #pagar{
    justify-content: center !important;
}

.pago{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.metodospago{
    display: flex;
    flex-direction:column ;
    margin: 20px;
    margin-left: 100px;
    /* align-items:center ; */
    
}
.metodospago img{
    width: 70px;
    height: auto;
}
.containerPago{
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0;

}














































































/*************************************Leandro**********************************************/

/*************************************Leandro**********************************************/