body{
    background-color: E5DFF5;
}

.loginContainer{
    margin: 50px;
    margin-top: 150px;
    align-items: center;
    justify-content: center; 
  
}

form, label{
    display: flex;
    flex-direction: column;
    margin-top:20px;
}



.recuperoContraseña{
    margin-bottom: 1px;
}

.botonesLogin{
    border: solid black 3px;
    flex-direction: column;
}

#logo{
    width:50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

#nombreRed{
    text-transform:uppercase;
    font-size: 80px; 
    font-family:sans-serif;
    margin: 50px;
    font-weight: bold;
}
#logo img{
    width: 10%;
    height: 20%;
    position:fixed;
    margin-block: 10px; 
    margin-inline: 250px; 
}

.loginContainer{
    display: flex;
    flex-direction: row;
}

h3{
    font-size: medium;
}

input{
   size: 100px;
}