* {
    font-family: PetFont;
    /* font-weight: bold; */
}

@font-face {
    font-family: PetFont;
    src: url(../font/RobotoCondensed-Bold.ttf   );
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: PetFont-Regular;
    src: url(../font/RobotoCondensed-Light.ttf   );
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #E5DFF5;
}

.loginContainer {
    margin: 50px;
    margin-top: 150px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
}

form,
label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-size: 20px;
}

.recuperoPass {
    margin-bottom: 1px;
    font-size: small;
}

.botonesLogin {
    flex-direction: column;
}

button {
    border: none;
}

#logo {
    background-image: url(../img/texto_logo.png);
    width: 419px;
    height: 199px;
    /* margin-left: 100px;
    display: flex;
    flex-direction: column; */
}

#nombreRed {
    text-transform: uppercase;
    font-size: 80px;
    font-family: sans-serif;
    margin: 50px;
    font-weight: bold;
}

#logo img {
    width: 10%;
    height: 20%;
    position: fixed;
    margin-block: 10px;
    margin-inline: 250px;
}

.loginContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: medium;
}

input {
    margin-top: 1px;
    margin-bottom: 3px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: none;
    background-color: #C4C4C4;
}

input:focus {
    outline: none;
}

.btn-ingreso {
    height: 40px;
    width: 48%;
    font-size: 15px;
}

.btn-registro,
.btn-siguiente,
.btn-siguiente,
.btn-registrarme {
    background-color: #8BDE76;
}

.btn-registro:hover,
.btn-siguiente:hover,
.btn-registrarme:hover {
    background-color: #a9d89c;
}

.btn-login {
    background-color: #3085E8;
}

.btn-login:hover {
    background-color: #5c98dd;
}

.botonesLogin {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button a {
    text-decoration: none;
    color: black;
}

.siguiente-1,
.siguiente-2,
.registrarme {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.btn-siguiente,
.btn-siguiente,
.btn-registrarme {
    height: 40px;
    width: 165px;
    font-size: 15px;
}

.formulario {
    width: 100%;
    /* display: flex;*/
    /* flex-direction: column; */
    /* align-items: center; */
}

.formulario p {
    font-size: 12px;
    color: red;
}

.reg-pag-1,
.reg-pag-2,
.reg-pag-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.reg-pag-1 div,
.reg-pag-2 div,
.reg-pag-3 div {
    width: 400px;
}


/* .reg-flujo-1,
.reg-pag-1,
.siguiente-1 {
    display: block;
} */

.reg-flujo-2,
.reg-flujo-3,
.reg-pag-2,
.reg-pag-3,
.siguiente-2,
.registrarme {
    display: none;
}

.ciudad-codPostal {
    display: flex;
    justify-content: space-between;
}

.ciudad {
    width: 190px;
    margin-right: 10px;
}

.codPostal {
    width: 190px;
    margin-left: 10px;
}

.file {
    padding: 10px;
}

.agregar-mascota {
    display: flex;
    align-items: center;
}

.agregar-mascota img {
    margin-left: 5px;
}


/************************************* MURO NOTICIAS ****************************************/

.navbar {
    background-color: #975FCE;
    /* border: 2px solid black; */
    /*BOX-SHADOW*/
    height: 120px;
    position: sticky;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.navBotones {
    display: flex;
    align-items: flex-end;
}

.navBotones button {
    background-color: transparent;
    justify-content: space-between;
    margin-left: 30px;
}

.logoHeader,
.busqueda {
    display: flex;
    align-items: center;
}

.busqueda input {
    width: 400px;
    height: 40px;
    border: none;
    padding-left: 10px;
    background-color: #C4C4C4;
}

.busqueda img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.contenedor {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.comunidad,
.perfilPersonal {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.perfil {
    height: 66.5%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.perfil,
.contactos, .chatsPersonales,
.sugerenciasContactos{
    background-color: rgb(196, 196, 196, 0.5);
    padding: 10px;
}

.contactosHeader,
.sugerenciasContactos, .tituloPublicaciones {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactosHeader img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.fichaContacto,
.ficha {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 95%;
    height: 40px;
    align-items: center;
    background-color: E5E5E5;
    margin-bottom: 5px;
}

.sugerenciaContactoIndividual {
    align-items: center;
    background-color: E5E5E5;
    /* padding: 5px; */
    width: 95%;
    height: 80px;
    margin-bottom: 5px;
}

.chat {
    background-color: rgb(248, 248, 242);
    width: 48%;
    height: 95%;
    padding: 10px;
}

textarea {
    width: 79%;
    height: 100%;
    border: none;
    overflow-y: scroll;
    resize: none;
    padding: 10px;
}

::placeholder {
    font-family: PetFont-Regular;
}

textarea::-webkit-scrollbar {
    width: 10px;
    margin-right: 20px;
}

textarea::-webkit-scrollbar-thumb {
    background: #975FCE;
}

textarea:focus {
    outline: none;
}

.cuerpo-chat {
    height: 530px;
    overflow-y: scroll;
}

.cuerpo-chat::-webkit-scrollbar {
    width: 10px;
    margin-right: 20px;
}

.cuerpo-chat::-webkit-scrollbar-thumb {
    background: #975FCE;
}

.msj-contacto {
    display: flex;
    justify-content: flex-start;
}

.msj-propio {
    display: flex;
    justify-content: flex-end;
}

.msj-propio p {
    background-color: rgb(196, 196, 196, 0.5);
}

.msj-contacto p {
    background-color: #E5DFF5;
}

.msj-propio p,
.msj-contacto p {
    height: auto;
    width: auto;
    display: table;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: PetFont-Regular;
}

.fichaContacto img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fichaContacto div {
    flex-direction: column;
}

.fichaContacto h3,
.fichaContacto h5 {
    height: 48%;
    margin: 0px;
}

.sugerenciasContactos {
    flex-direction: column;
    margin-top: 10px;
}


/* .ficha {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    align-items: center;
    background-color: #C4C4C4;
} */

.ficha img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.botonSugerencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.botonSugerencias button {
    background-color: rgba(209, 157, 157, 0.5);
}

.muroCentral {
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    width: 46%;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicacionPropia,
.publicacion {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(196, 196, 196, 0.5);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.info img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}


/* .info h5{

    align-items: flex-end;
    
}  */

.botonesPublicacion {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.botonesPublicacion button {
    width: 20px;
    height: 20px;
}

.botonesPublicacion img {
    /* margin-right:20px; */
    width: 30px;
    height: 30px;
}

.publicacionPropia input {
    width: 400px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}


/* .publicacionPropia img{
    width: 90px;
    height: 50px;
} */

.publicacion {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    flex-direction: column;
}

.imagenPublicada {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.imagenPublicada img {
    width: 60%;
    height: 80%;
    margin: 10px;
}

.publicidad {
    width: 100%;
    height: 300px;
}

.publicidad img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.animacion_perro_registro {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.perro {
    margin-top: 20px;
    background: url(../img/perrito_animado_2.png) repeat-x;
    position: relative;
    animation: movedog .9s steps(4) infinite;
    /* Tamaño de la viñeta individual */
    width: 76.5px;
    height: 66px;
    z-index: 7;
}

.reg-1,
.reg-2,
.reg-3 {
    width: 76.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-3-active {
    display: flex;
    flex-direction: row;
    width: 140px;
}


/* .reg-2 {
    width: 45%;
} */

.linea-1 {
    height: 4px;
    width: 100%;
    margin-top: 50px;
    background-image: url(../img/linea1.png);
}

@keyframes movedog {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        background-position: 0
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "vuele" hacia atrás */
    100% {
        background-position: -307px
    }
}

.hueso {
    background: url(../img/hueso.png) repeat-x;
    position: relative;
    animation: movebone 1s steps(6) infinite;
    /* Tamaño de la viñeta individual */
    width: 37px;
    height: 29px;
    z-index: 7;
    margin-top: 35px;
}

@keyframes movebone {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        background-position: 0
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "vuele" hacia atrás */
    100% {
        background-position: 224px
    }
}


/* .publicacion {} */

.botonesComunicacion {
    display: flex;
    align-items: flex-end;
    width: 75%;
    justify-content: space-evenly;
}

.botonesComunicacion button,
.reacciones button,
.botonesPublicacion button {
    background-color: transparent;
}

.reacciones,
.contador {
    /* height:40px; 
    align-items:flex-start;   
    justify-content: space-between;  */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #E5DFF5;
}

.reacciones button {
    text-transform: uppercase;
    margin-right: 20px;
}

.reacciones img {
    margin-right: 10px;
}

.perfilPersonal h2 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 10px;
    background-color: rgb(196, 196, 196, 0.5);
}

.perfil img {
    width: 30px;
    height: 30px;
    align-items: center;
}

.info h4,
.info h5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info h5 {
    display: flex;
    align-items: flex-end;
}

.fichacontacto h4 {
    flex-direction: column;
}


/************************************* PRUEBA ****************************************/

.huella {
    margin-left: 500px;
    background: url(../img/huellas.png) repeat-x;
    height: 267px;
    /* width: 72px; */
    position: relative;
    animation: movehuella 5s infinite;
}

@keyframes movehuella {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        width: 0;
    }
    11.11% {
        width: 38.88px;
    }
    22.22% {
        width: 77.76px;
    }
    33.33% {
        width: 122.46px;
    }
    44.44% {
        width: 167.16px;
    }
    55.55% {
        width: 221.66px;
    }
    66.66% {
        width: 283.16px;
    }
    77.77% {
        width: 351.66px;
    }
    88.88% {
        width: 436.96px;
    }
    100% {
        width: 505px;
    }
}


/*Estilos de la galeria*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.galeria li {
    margin: 5px;
}

.galeria h3,
.galeria h5 {
    margin: 5px;
}

.galeria img,
.galeria video {
    width: 150px;
    height: 100px;
}


/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen,
.video {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a,
.video a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2),
.video a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img,
.video img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

.publicacionesRealizadas {
    display: flex;
    flex-direction: row;
}


/* -------------------------------------------LEANDRO------------------------------------------------ */

.dia {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dia p {
    text-align: center;
    width: 40px;
    padding: 5px;
    background-color: rgb(196, 196, 196, 0.3);
}

.f-chat {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header-chat h2 {
    width: 75%;
    font-size: 25px;
}

.header-chat,
.footer-chat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-chat {
    background-color: #E5DFF5;
    height: 120px;
}

.footer-chat {
    height: 60px;
    background-color: rgb(196, 196, 196, 0.3);
}

.footer-chat img,
.footer-chat textarea {
    margin-left: 10px;
    margin-right: 10px;
}

.i-chat {
    margin: 10px;
}

.hora {
    font-size: 12px;
}


/* ------------------------------------------------------------------------------------------- */


/******************************toggle************************************/


/* .toggleLike{
    display:none;
}

.reacciones button h4{
    display: flex;
    flex-direction: row;
} */

.contador {
    height: 20px;
    margin-bottom: 2px;
    display: flex;
}

#contadorLikes,#contadorLikes1, #contadorLikes2,
#contadorComentarios,
#contadorCompartidos {
    margin: 2px;
    font-family: PetFont-Regular;
}


/* .contadorLikes h4{
    
    flex-direction: row;
} */

.info a{
    text-decoration: none;
    color: #000;
}

.info a:hover{
   font-size: 120%;
   color:dimgray;
}

.galeriaPublicaciones{
    width: 74%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(196, 196, 196, 0.5);
}



.tituloPublicaciones{
    margin-bottom: 10px;
}
.galeriaPropia{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin-bottom: 10px;
 
 
}

.galeriaPropia img{
    width: 150px;
    height: 150px;
}


/* .galeriaPropia div{
    border: 1px solid black;
    height:150px;
    width: 150px;
    margin:10px;
} */