* {
    font-family: PetFont;
    /* font-weight: bold; */
}

@font-face {
    font-family: PetFont;
    src: url(../font/Coco-Sharp-Bold-trial.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #E5DFF5;
}

.loginContainer {
    margin: 50px;
    margin-top: 150px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
}

form,
label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-size: 20px;
}

.recuperoPass {
    margin-bottom: 1px;
    font-size: small;
}

.botonesLogin {
    flex-direction: column;
}

button {
    border: none;
}

#logo {
    background-image: url(../img/texto_logo.png);
    width: 419px;
    height: 199px;
    /* margin-left: 100px;
    display: flex;
    flex-direction: column; */
}

#nombreRed {
    text-transform: uppercase;
    font-size: 80px;
    font-family: sans-serif;
    margin: 50px;
    font-weight: bold;
}

#logo img {
    width: 10%;
    height: 20%;
    position: fixed;
    margin-block: 10px;
    margin-inline: 250px;
}

.loginContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: medium;
}

input {
    margin-top: 1px;
    margin-bottom: 3px;
    height: 40px;
    width: 100%;
    /* size: 100px; */
    border: none;
    background-color: #C4C4C4;
}

.btn-ingreso {
    height: 40px;
    width: 48%;
    font-size: 15px;
}

.btn-registro {
    background-color: #8BDE76;
}

.btn-login {
    background-color: #3085E8;
}

.botonesLogin {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/************************************* PRUEBA ****************************************/

.perro {
    background: url(../img/perrito_animado_2.png) repeat-x;
    position: relative;
    animation: movedog .9s steps(4) infinite;
    /* Tamaño de la viñeta individual */
    width: 76.5px;
    height: 66px;
    z-index: 7;
}

@keyframes movedog {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        background-position: 0
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "vuele" hacia atrás */
    100% {
        background-position: -307px
    }
}

.hueso {
    background: url(../img/hueso.png) repeat-x;
    position: relative;
    animation: movebone .9s steps(6) infinite;
    /* Tamaño de la viñeta individual */
    width: 37px;
    height: 29px;
    z-index: 7;
}

@keyframes movebone {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        background-position: 0
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "vuele" hacia atrás */
    100% {
        background-position: 224px
    }
}

.huella {
    margin-left: 500px;
    background: url(../img/huellas.png) repeat-x;
    height: 267px;
    /* width: 72px; */
    position: relative;
    animation: movehuella 5s infinite;
}

@keyframes movehuella {
    /* Se parte de la primera viñeta del sprite sheet */
    0% {
        width: 0;
    }
    11.11% {
        width: 38.88px;
    }
    22.22% {
        width: 77.76px;
    }
    33.33% {
        width: 122.46px;
    }
    44.44% {
        width: 167.16px;
    }
    55.55% {
        width: 221.66px;
    }
    66.66% {
        width: 283.16px;
    }
    77.77% {
        width: 351.66px;
    }
    88.88% {
        width: 436.96px;
    }
    100% {
        width: 505px;
    }
}

/************************************* MURO NOTICIAS ****************************************/

.navbar{
    background-color:975FCE;
    /* border: 2px solid black; */
    height: 120px;
    position: sticky; 
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.navBotones{
    display: flex;
    align-items: flex-end;
}
.navBotones button{  
    background-color: transparent;
    justify-content: space-between;
    margin-left:30px;
   
}

.logoHeader, .busqueda{
    display: flex;
    align-items: center;
}

.busqueda input{
    width:400px;
    height: 40px;
    border:none;
    padding-left: 10px;
    background-color: #C4C4C4;
}
.busqueda img{
    width:40px;
    height:40px;
    margin-right: 20px; 
}

.contenedor{
    display: flex;
    
}

.comunidad{
    /* border: 2px solid black; */
   width:25%;
   padding: 15px;
   display: flex;
   flex-direction: column;
    
}
.contactosHeader{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.contactosHeader img{
    width:30px;
    height: 30px;
    margin-left: 20px;
  
}
.fichaContacto{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 75%;
    height:40px;
    align-items: center;
    background-color: #C4C4C4;
    margin-bottom:5px;
    
}

.fichaContacto img{
    margin-right:20px;
    width:30px;
    height: 30px;
}

.sugerenciasContactos{
    flex-direction: column;  
   
}
.ficha{
    display: flex;
    flex-direction: row;
    height:40px;
    align-items: center;
    background-color: #C4C4C4; 
}

.ficha img{
    margin-right: 20px;
    width: 25%;
    height: 65%;
    border-radius: 50%;
}
.sugerenciaContactoIndividual{
    align-items: center;
    background-color: #C4C4C4;
    padding: 5px;
    width: 75%;
    height:70px;
    margin-bottom: 5px;
}
 
.botonSugerencias{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.muroCentral{
    border: 2px solid black;
      /* border: 2px solid black; */
      width:50%;
      padding: 15px;
     display: flex;
     flex-direction: column;
}

.publicacion{

}

.publicidad{
    width:25%;
    margin-bottom: 5px;
}

.publicidad img{
    width:100%;
}
.botonesComunicacion{
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
    
}