#canvas {
    border: solid black 1px;
}

body {
    display: flex;
    flex-direction: row;
}

.botones {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#cuatro, #cinco, #seis{
    margin: 5px;
}

img{
    border-radius: 50%;
}